@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --background: #ffffff;
  --text: #111111;
  --primary: #780000;
  --hover: #4D0011;
  --shadow: rgba(0,0,0,0.08);
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3rem;
}

body {
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text);
  padding-top: 70px; 
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3rem;
}

.social-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    z-index: 9999;
  }
  
  .social-bar a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
  }
  
  .social-bar a:nth-child(1) {
    background: #25d366; 
  }
  .social-bar a:nth-child(2) {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4); /* Instagram */
  }
  .social-bar a:nth-child(3) {
    background: #1da1f2; 
  }
  
  .social-bar a:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  }
  
  
  @media (max-width: 768px) {
    .social-bar {
      bottom: 10px;
      right: 10px;
      gap: 10px;
    }
  
    .social-bar a {
      width: 42px;
      height: 42px;
      font-size: 20px;
    }
  }
  
  