@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --background: #ffffff;
  --text: #111111;
  --primary: #780000;
  --hover: #4D0011;
  --shadow: rgba(0,0,0,0.08);
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text);
  padding-top: 70px; 
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
}
